---
layout: slider-page
title : Articles
theme:
  name: smart-business-template
sliders:
- title: Articles
  text: Modern developers writing about development and production systems
slider_background: parchment
---
{% include JB/setup %}

<!--start: Wrapper-->
<div id="wrapper">
      
  <!--start: Container -->
    <div class="container">
    
    <hr>
    
    {% assign articles = site.posts %}
    {% include display_articles %}

    <hr>

  </div>
  <!--end: Container-->

</div>
<!-- end: Wrapper  -->      

