{% if page.sliders %}
<!-- start: Slider -->
<div class="slider-wrapper">
  <div id="da-slider" class="da-slider da-slider-{{ page.slider_background }}">
    {% for slider in page.sliders %}
    <div class="da-slide">
      <h2>{{ slider.title || title }}</h2>
      <p>{{ slider.text }}</p>
      {% if slider.button %}
      <a href="{{ BASE_PATH }}/{{ slider.button.path }}" class="da-link">{{ slider.button.title }}</a>
      {% endif %}
      {% if slider.image %}
      <div class="da-img"><img src="{{ slider.image }}" alt="" /></div>
      {% endif %}
    </div>
    {% endfor %}
    {% if page.sliders.size == 1 %}
    <style type="text/css" media="screen">
      /* only one panel for slider, so hide the navigation dot */
      .da-dots { display: none; }
    </style>
    {% else %}
    <nav class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>
    </nav>
    {% endif %}
  </div>
</div>
<!-- end: Slider -->

{% else %}
<!-- start: Page Title -->
<div id="page-title">
  <div id="page-title-inner">
    <!-- start: Container -->
    <div class="container">
      <h2><i class="ico-pencil ico-white"></i>{{ page.title }}</h2>
    </div>
    <!-- end: Container  -->
  </div>  
</div>
<!-- end: Page Title -->
{% endif %}


<!--start: Wrapper-->
<div id="wrapper">
      
  <!--start: Container -->
  <div class="container">
    <!--start: Row -->
    <div class="row">
      <div class="span1 hidden-phone">
      </div>
      <div class="span1 hidden-tablet hidden-phone">
      </div>
      <div class="span7">
        
        <!-- start: Post -->
        <div class="post">
          {% if page.main_picture %}
          <div class="post-img picture">
            <img src="{{ page.main_picture }}" alt="" />
          </div>
          {% endif %}
          <span class="post-icon standard"><i class="ico-pen circle"></i></span>
          <div class="post-content">
            <div class="post-title"><h2><a href="{{ page.url }}">{{ page.title }}</a></h2></div>
            <div class="post-description">
              {{ content }}
            </div>
          </div>
        </div>
        <!-- end: Post -->

        <hr>
        <hr>
      </div>
    
      <div class="span3 hidden-phone">
      </div>
    </div>
    <!--end: Row-->
  </div>
  <!--end: Container-->

</div>
<!-- end: Wrapper  -->      
