<!-- start: Slider -->
<div class="slider-wrapper">
  <div id="da-slider" class="da-slider da-slider-{{ page.slider_background }}">
    {% for slider in page.sliders %}
    <div class="da-slide">
      <h2>{{ slider.title || title }}</h2>
      <p>{{ slider.text }}</p>
      {% if slider.button %}
      <a href="{{ BASE_PATH }}/{{ slider.button.path }}" class="da-link">{{ slider.button.title }}</a>
      {% endif %}
      {% if slider.image %}
      <div class="da-img"><img src="{{ slider.image }}" alt="" /></div>
      {% endif %}
    </div>
    {% endfor %}
    {% if page.sliders.size == 1 %}
    <style type="text/css" media="screen">
      /* only one panel for slider, so hide the navigation dot */
      .da-dots { display: none; }
    </style>
    {% else %}
    <nav class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>
    </nav>
    {% endif %}
  </div>
</div>
<!-- end: Slider -->

{{ content }}